<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Enregistrer un nouvel utilisateur</title>
</head>
<body>
<h1>Enregistrer un nouvel utilisateur</h1>
<form method="post" th:action="@{/formUtilisateur}">
    <label>Nom :</label>
    <input type="text" name="nom" required><br><br>
    <label>Prénom :</label>
    <input type="text" name="prenom" required><br><br>
    <label>Adresse e-mail :</label>
    <input type="email" name="email" required><br><br>
    <label >Mot de passe :</label>
    <input type="password" name="motDePasse" required><br><br>
    <button type="submit">Enregistrer</button>
</form>
</body>
</html>
